html{
    font-size: 65%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbar ul li img{
    width: 30px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.container{
    background: radial-gradient(#fff, #ffd6d6);
}

.products-details-header{
    background: #fff;
}
.container-header{
    margin: auto;
    max-width: 1300px;
}

.cart-logo{
    position: relative;
}
.cart-logo .cart-num{
    position: absolute;
    right: -10px;
    top: -20px;
    color: black;
    font-weight: bold;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 2.5rem 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    max-width: 100%;
}
.col-4{
    flex-basis: 25%;
    min-width: 250px;
    padding: 10px;
    transition: transform 0.5s;
    margin-bottom: 60px;
}
.col-4:hover{
    transform: translateY(-10px);
}
.col-4 img{
    max-width: 100%;
    min-width: 200px;
    margin-bottom: 10px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}
.content{
    max-width: 1080px;
    margin: 70px auto;
}
.content-categorys{
    margin: 70px auto;
    padding: 0 25px;
}

.product-title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    font-size: 2.4rem;
    color: #555555;
    position: relative;
}
.product-title::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #ff523b;
    position: absolute;
    
}

#sort-select, #sort-select option{
    font-size: 1.3rem;
    outline: none;
    border: 1px  solid #ff523b;
    padding: 5px;
}
.product-item{
    padding: 0 25px;
}
.item-detail p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.offer-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.offer-img{
    padding: 50px;
}

.offer-detail .exclusivetext, .offer-detail .brand-detail{
    font-size: 1.65rem;
}

.offer-detail .brand-name{
    font-size: 5rem;
    font-weight: bold;
    line-height: 60px;
}

.container__buyer-comment{
    padding-top: 100px;
    
}
.fa{
    color: #ff523b;
}
.testimonial{
    text-align: center;
    max-width: 1080px;
    margin: 50px auto;
}

.testimonial-item{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial-item:hover{
    transform: translateY(-10px);
}
.testimonial-icon i{
    font-size: 5rem;
}

.testimonial-comment p{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #555555;
    margin: 12px 0;
    line-height: 1.7;
}
.testimonial-rating i{
    font-size: 1.5rem;
}

.testimonial-buyer{
    margin: 12px 0;
}
.buyer-img img{
    margin-top: 12px;
    border-radius: 50%;
    width: 5rem;
}

.buyer-name h5 {
    font-size: 1.6rem;
    color: #555555;
    font-family: 'Poppins', sans-serif;
}

.footer{
    background-color: black;
    color: white;
}

.footer-container{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1200px;
}
.footer-container h3{
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .coppy-right{
    margin: 0;
    text-align: center;
    padding: 30px 0;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 30px;
    
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 li, .footer-col-4 li, .footer-col-4 a, .footer-col-3 a{
    list-style-type: none;
    color: #555;
    font-size: 1.6rem;
}
.footer-col-1 .footer-logo img{
    width: 120px;
    /* margin-top: 30px; */
}
.footer-col-2 .footer-logo img{
    width: 180px;
}


/* Products details page css */

.container-single-item {
    max-width: 1080px;
    margin: 80px auto;
    padding: 50px;
}

.single-item-bigimg img{
    width: 100%;
    padding: 0;
}
.single-item-smallimg{
    justify-content: space-between;
}
.single-item-smallimg-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-item-smallimg-col img{
    padding: 0;
}

.container-details{
    padding: 50px;
}

.container-details h4{
    color: #555;
    font-size: 2.2rem;
}

.container-details h3{
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.container-details select,.container-details select option,.container-details input,.container-details button{
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: 1px solid #ff523b;
    outline: none;
}

.container-details input{
    width: 50px;
    font-size: 1.8rem;
    height: 40px;
    display: inline-block;
}

.container-details button{
    display: inline-block;
    width: 125px;
    height: 40px;
    cursor: pointer;
}

.container-details button:hover{
    background-color: #e9412a;
}



/* Products page css */
.products-pagination{

}
.products-pagination .producst-pagination__number{
    display: inline-block;
    border: 1px solid red;
    padding: 7px 16px;
    cursor: pointer;
}

.selected{
    background-color: #e9412a;
}
.row-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}


/* Account page css */

.logo-img{
    width: 100%;
}

.container-account{
    max-width: 1300px;
    margin: 0 auto;
}

.account-form{
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

}
.account-form form{
    width: 300px;
    padding: 0 20px;
}
.account-form_login{
    position: absolute;
    /* right: 300px; */
    transition: transform .5s;
    top: 130px;
}

.account-form_register{
    position: absolute;
    left: 300px;
    transition: transform .5s;
    top: 55px;
}

.account-form_login input, .account-form_register input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 0 10px;
}
.account-form_login{
}

#indicator{
    width: 25%;
    position: absolute;
    height: 3px;
    border: none;
    background-color: #e9412a;
    left: 75px;
    transition: transform 0.5s;
}

.account-form__name span{
    cursor: pointer;
    font-weight: bold;
    color: #555;
}
.account-form_login span{
    font-size: 12px;
    cursor: pointer;
}
.container-form{
    padding: 60px;
}
.error{
    color: red;
    cursor: unset !important;
    font-size: 12px;
}