<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>RedStore | Ecommere Websize Design</title>
    <script src="https://kit.fontawesome.com/a9daaac82c.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <div class="container products-details-header">
        <div class="container-header">
            <div class="navbar">
                <div class="logo">
                    <img src="../assets/images/logo.png" alt="" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="account.html">Account</a></li>
                        <li><a href="cart.html"  class="cart-logo"><img src="../assets/images/cart.png" alt="">
                            <span class="cart-num">0</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="content-products row">
                <div class="row row-2">
                    <h2 class="">All Products</h2>
                    <select name="sort-select" id="sort-select">
                        <option value="1">Sort by default</option>
                        <option value="2">Sort by Price</option>
                        <option value="3">Sort by Rating</option>
                        <option value="4">Sort by Sale</option>
                    </select>
                </div>
            <div class="products-item row">
                <div class="col-4">
                    <a href="./components/products-details.html">
                        <div class="item-img">
                            <img src="../assets/images/product-1.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-2.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-3.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-4.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="./components/products-details.html">
                        <div class="item-img">
                            <img src="../assets/images/product-1.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-2.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-3.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-4.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="./components/products-details.html">
                        <div class="item-img">
                            <img src="../assets/images/product-1.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-2.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-3.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#">
                        <div class="item-img">
                            <img src="../assets/images/product-4.jpg" alt="">
                        </div>
                        <div class="item-detail">
                            <p>Red Printed T-Shirt</p>
                            <div class="rating">
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-solid fa-star fa-sm" style="color: #ff523b;"></i>
                                <i class="fa-regular fa-star fa-sm" style="color: #ff523b;"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </a>
                </div>

                <div class="products-pagination">
                    <div class="producst-pagination__number selected">1</div>
                    <div class="producst-pagination__number">2</div>
                    <div class="producst-pagination__number">3</div>
                    <div class="producst-pagination__number">4</div>
                    <div class="producst-pagination__number">...</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->


    <div class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="footer-logo">
                        <img src="../assets/images/app-store.png" alt="">
                        <img src="../assets/images/play-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <div class="footer-logo">
                        <img src="../assets/images/logo.png" alt="">
                    </div>  
                    <div class="footer-text">
                        <p>Our Purpose Is To Sustainably Make th Pleasure and Benefits of Sports Accessible to the Many.</p>
                    </div>  
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">Coupons</a></li>
                        <li><a href="#">Blog Posta</a></li>
                        <li><a href="#">Return Policya</a></li>
                        <li><a href="#">Join Affiliatea</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="coppy-right">Copytight 2023 - Tran Van Tuong</p>
        </div>
    </div>
</body> 

</html>