<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>RedStore | Ecommere Websize Design</title>
    <script src="https://kit.fontawesome.com/a9daaac82c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container products-details-header">
        <div class="container-header">
            <div class="navbar">
                <div class="logo">
                    <img src="../assets/images/logo.png" alt="" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="account.html">Account</a></li>
                        <li><a href="cart.html"  class="cart-logo"><img src="../assets/images/cart.png" alt="">
                            <span class="cart-num">0</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-single-item row">
        <div class="col-2">
            <div class="single-item-bigimg">
                <img id="Product-img" src="../assets/images/gallery-1.jpg" alt="">
            </div>
            <div class="single-item-smallimg row">
                <div class="single-item-smallimg-col">
                    <img class="small-img" src="../assets/images/gallery-1.jpg" alt="">
                </div>
                <div class="single-item-smallimg-col">
                    <img class="small-img" src="../assets/images/gallery-2.jpg" alt="">
                </div>
                <div class="single-item-smallimg-col">
                    <img class="small-img" src="../assets/images/gallery-3.jpg" alt="">
                </div>
                <div class="single-item-smallimg-col">
                    <img class="small-img" src="../assets/images/gallery-4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-2 container-details">
            <p>Home/T-Shirt</p>
            <h4>$50.00</h4>
            <h1>Red Printed T-Shirt by HRX</h1>
            <select name="select" id="size-select">
                <option value="">Select Size</option>
                <option value="">XXL</option>
                <option value="">XL</option>
                <option value="">Large</option>
                <option value="">Medium</option>
                <option value="">Small</option>
            </select>
            <div class="container-details__btn">
                <input type="number" value="1">
                <button class="btn">Add to Cart</button>
            </div>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <p>Give your summer wardrobe a style upgrade with the HRX Men's Active T-Shirt. Team it with a pair of shorts for your morning workout or a denims for an evening out with the guys.</p>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="footer-logo">
                        <img src="../assets/images/app-store.png" alt="">
                        <img src="../assets/images/play-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <div class="footer-logo">
                        <img src="../assets/images/logo.png" alt="">
                    </div>  
                    <div class="footer-text">
                        <p>Our Purpose Is To Sustainably Make th Pleasure and Benefits of Sports Accessible to the Many.</p>
                    </div>  
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">Coupons</a></li>
                        <li><a href="#">Blog Posta</a></li>
                        <li><a href="#">Return Policya</a></li>
                        <li><a href="#">Join Affiliatea</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="coppy-right">Copytight 2023 - Tran Van Tuong</p>
        </div>
    </div>
</body> 

<script>
    let bigImg = document.querySelector('#Product-img');
    let smallImgs = document.querySelectorAll('.small-img');
    smallImgs.forEach(img =>{
        img.addEventListener('click', (e) =>{
            bigImg.src = img.src;
        })
    })

</script>
</html>